<html ng-app="fundMgmt">
<head>
	<title>fund rest mgmt</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<style>
		td {
			padding-right: 2px;
		}		
	</style>	
	<script type="text/javascript">	
		angular.module('fundMgmt',[])
		  .controller('fundMgmtController', ['$scope','$http', function($scope,$http) {
			$scope.history = "";
			
			$scope.submit = function() {
				var queryString='/rest/fund/' + $scope.queryString;
				if (queryString.slice(-1) != '/') queryString += '/';
				$scope.history = queryString + "\n" + $scope.history;
				$scope.status='loading ' + queryString;
				$http({url: queryString}).
					success(function(data, status, headers, config) {
						$scope.status=angular.toJson(data, true);
					}).
					error(function(data, status, headers, config) {
						$scope.status=angular.toJson(data, true);
					});
			};			
		}]);		
	</script>
</head>
<body ng-controller="fundMgmtController">	
	<form ng-submit="submit()">
		<input type="text" ng-model="queryString" name="text" style="width: 300px" />
		<input type="submit" id="submit" value="Submit" />
	</form>
	<p>Existing Fund Names: </p>
	<ul>
		<li th:each="f : ${funds}" th:text="${f.name}"></li>
	</ul>
	<p>URL:</p>
	<ul>
		<li>create/{fundName}</li>
		<li>delete/{fundName}</li>
		<li>{fundName}/{buy,sell}/{code}/{qty}/{price}</li>		
		<li>{fundName}/remove/{code}</li>
		<li>{fundName}/payinterest/{code}/{amount}</li>
		<li>{fundName}/set/profit/{amount}</li>
		<li>{fundName}/{add,subtract}/profit/{amounts(comma separated)}</li>
	</ul>
	<div ng-bind="history" style="white-space: pre;"></div>
	<div ng-bind="status" style="white-space: pre; margin-top: 5px;"></div>
	<footer th:include="fragments/layout :: footer"></footer>
</body>
</html>