<!DOCTYPE html>
<html layout:decorator="fragments/layout" ng-app="list" ng-controller="ListController" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>forum</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script type="text/javascript">	
		angular.module('list',[]).controller('ListController', ['$scope','$http', function($scope,$http) {
			$scope.visited = function($event, url) {
                $event.target.parentElement.classList.add("visited");
                $http.post('/forum/visited', url);
			};
		}]);		
	</script>	
	<style>
		.visited {			
			text-decoration: line-through;
			background-color: rgb(185, 213, 237); 
		}
		
		.wished {			
			text-decoration: underline;
			background-color: rgb(192, 255, 212); 
		}
	</style>
</head>
<body>
	<div layout:fragment="content">
		<div>
			<a class="w3-btn w3-light-grey w3-border" th:href="@{/forum/list/MUSIC/1}">Music</a>
			<a class="w3-btn w3-light-grey w3-border" th:href="@{/forum/list/MOVIE/1}">Movie</a>
		</div>

		<table class="w3-table">
			<tr th:each="c : ${contents}" th:class="${c.visited}?'visited'" th:classappend="${c.wished}?'wished'">
				<td class="w3-padding-4"><a target="_blank" th:attr="ng-click='visited($event, \''+${c.url}+'\')'" th:href="'http://'+${c.url}"
					th:text="${c.title}">title</a></td>
				<td class="w3-padding-4" th:text="${#dates.format(c.createdDate, 'dd-MM-yyyy')}">date</td>
				<td class="w3-padding-4" th:text="${c.source}">source</td>
			</tr>
		</table>
	</div>
</body>
</html>