<!DOCTYPE html>
<html layout:decorator="fragments/layout">
<head>
	<title>squote</title>
</head>
<body class="w3-small">
<div layout:fragment="content">
	<div class="w3-container w3-padding-12">
		<form>
			<input type="text"  style="width: 80px;" name="newItem" /><input class="w3-btn w3-light-grey w3-tiny" type="submit" />
		</form>
		<table class="w3-table">
			<tr th:each="i : ${items}">
				<td class="w3-padding-tiny" style="width: 30px;"><a class="w3-btn w3-light-grey w3-tiny" th:href="@{/forum/wishlist/delete(item=${i.text})}">delete</a></td>
				<td class="w3-padding-tiny" th:text="${i.text}"></td>
				<td class="w3-padding-tiny" th:text="${#dates.format(i.createdDate, 'yyyy-MM-dd')}"></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>
