<!DOCTYPE html>
<html>
  <body>  	
    <table  style="font-size: 10px; text-align: right;" th:fragment="fundsummary (fund)">
		
			<tr>
				<td th:text="${fund.name}">a</td>
				<td></td>
				<td></td>
				<td></td>
				<td th:text="${fund.profit}"></td>
				<td th:text="${fund.netProfit().add(fund.profit)}"></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td th:text="${fund.gross()}"></td>
				<td th:text="${fund.netProfit()}"></td>
				<td th:text="${#numbers.formatDecimal(fund.netProfit().doubleValue()/(fund.gross().doubleValue()+1)*100, 1, 2) }">%</td>
			</tr>
			<tr>
				<td>code</td>
				<td>qty</td>
				<td>price</td>
				<td>spot</td>
				<td>gross</td>
				<td>+/-</td>
				<td>%</td>
			</tr>
		
		<tr th:each="entry : ${fund.holdings}">
			<td th:text="${entry.key}"></td>
			<td th:text="${entry.value.quantity}"></td>
			<td th:text="${entry.value.price}"></td>
			<td th:text="${entry.value.spotPrice()}"></td>			
			<td th:text="${#numbers.formatDecimal(entry.value.gross, 1, 2)}"></td>
			<td th:text="${#numbers.formatDecimal(entry.value.netProfit(), 1, 2)}"></td>
			<td th:text="${#numbers.formatDecimal(entry.value.netProfit().doubleValue()/entry.value.gross.doubleValue()*100, 1, 2) }">%</td>			
		</tr>		
	</table>	
  </body>
</html>