<!DOCTYPE html>
<html>
  <body>  
  	<div th:fragment="footer">
  		<link rel="stylesheet" type="text/css" media="all" href="../../static/css/squote.css" th:href="@{/css/squote.css}" />
  		<hr/>  		
		<nav role="navigation" class="footer">
			<div>			
				<ul>
					<p>Forum</p>
					<li><a th:href="@{/forum/list/MUSIC/1}">Music</a></li>
					<li><a th:href="@{/forum/list/MOVIE/1}">Movie</a></li>
					<li><a th:href="@{/forum/wishlist/}">Wish List</a></li>
				</ul>
			</div>
			<div>					
				<ul>
					<p>Quote</p>
					<li><a th:href="@{/quote/list}">Quotes</a></li>
					<li><a th:href="@{/quote/single/2828}">Single</a></li>
					<li><a th:href="@{/quote/stocksperf}">Stock perf</a></li>
				</ul>
			</div>
			<div>					
				<ul>
					<p>Entity Mgmt</p>
					<li><a th:href="@{/holdingstock/}">List holdings</a></li>
					<li><a th:href="@{/quote/createholdingstock}">Create holding</a></li>
					<li><a th:href="@{/fund}">Fund Restful</a></li>
				</ul>
			</div>
			<div>					
				<ul>
					<p>Utils</p>
					<li><a th:href="@{/convertid3}">Convert Id3</a></li>
				</ul>
			</div>				
		</nav>
	</div>
  </body>
</html>