<!DOCTYPE html>
<html layout:decorator="fragments/layout" ng-app="quote1" ng-controller="QuoteController">
<head>
	<title>quote</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<style>
		td {
			padding: 2px;
			
			font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
			font-size: 10px;
		}
				
		.2828 {			
			background-color: rgb(185, 213, 237); 
		}			
	</style>	
</head>
<body>
	<div layout:fragment="content">
		<table class="w3-table">
			<tr>
				<td>Code</td>
				<td>Name</td>
				<td>Price</td>
				<td>1 year %</td>
				<td>2 year %</td>
				<td>3 year %</td>
				<td>PE</td>
				<td>Yield</td>
				<td>NAV</td>
				<td>Year Low - High</td>
				<td>Change</td>
			</tr>
			<tr ng-repeat="quote in quotes" ng-style="quote.stockCode === '2828' &amp;&amp; {'background-color': 'rgb(185, 213, 237)'}">
				<td class="w3-padding-tiny">{{quote.stockCode}}</td>
				<td class="w3-padding-tiny">{{quote.stockName}}</td>
				<td class="w3-padding-tiny">{{quote.price}}</td>
				<td class="w3-padding-tiny">{{quote.lastYearPercentage.toFixed(2)}}</td>
				<td class="w3-padding-tiny">{{quote.last2YearPercentage.toFixed(2)}}</td>
				<td class="w3-padding-tiny">{{quote.last3YearPercentage.toFixed(2)}}</td>
				<td class="w3-padding-tiny">{{quote.pe}}</td>
				<td class="w3-padding-tiny">{{quote.yield}}</td>
				<td class="w3-padding-tiny">{{quote.nav}}</td>
				<td class="w3-padding-tiny">{{quote.yearLow}} - {{quote.yearHigh}}</td>
				<td class="w3-padding-tiny">{{quote.change}}</td>
			</tr>
		</table>
		<div ng-bind="status"></div>
		<script type="text/javascript">
			var retry=0;
			var retryLimit=20;

			angular.module('quote1',[]).controller('QuoteController', ['$scope','$http', function($scope,$http) {
				$scope.status='Loading';
				$scope.poll=function poll() {
					retry++;
					if (retry > retryLimit) return;

					$scope.status=$scope.status + '...';
					$http({url: "liststocksperf"}).
						success(function(data, status, headers, config) {
							$scope.quotes=data;
							$scope.status='';
						}).
						error(function(data, status, headers, config) {
							poll();
						});
				};
				$scope.poll();
			}]);
		</script>
	</div>
</body>
</html>