<html ng-app="quote1" ng-controller="QuoteController">
<head>
	<title>quote</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<style>
		td {
			padding-right: 2px;
		}
	</style>	
</head>
<body>	
	<table style="font-size: 10px;">	
		<tr>
			<td>Code</td>
			<td>Price</td>
			<td>Change</td>
			<td>1 year %</td>
			<td>2 year %</td>
			<td>3 year %</td>
			<td>Year Low - High</td>
			<td>PE</td>
			<td>Yield</td>
			<td>NAV</td>
		</tr>
		<tr ng-model="hcei">
			<td>{{hcei.stockCode}}</td>
			<td>{{hcei.price}}</td>
			<td>{{hcei.change}}</td>
			<td>{{hcei.lastYearPercentage.toFixed(2)}}</td>
			<td>{{hcei.last2YearPercentage.toFixed(2)}}</td>
			<td>{{hcei.last3YearPercentage.toFixed(2)}}</td>
			<td>{{hcei.yearLow}} - {{hcei.yearHigh}}</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr ng-repeat="quote in quotes">
			<td>{{quote.stockCode}}</td>
			<td>{{quote.price}}</td>
			<td>{{quote.change}}</td>
			<td>{{quote.lastYearPercentage.toFixed(2)}}</td>
			<td>{{quote.last2YearPercentage.toFixed(2)}}</td>
			<td>{{quote.last3YearPercentage.toFixed(2)}}</td>
			<td>{{quote.pe}}</td>
			<td>{{quote.yield}}</td>
			<td>{{quote.nav}}</td>
		</tr>
	</table>
	<div ng-bind="status"></div>
	<script type="text/javascript">	
		var retry=0;
		var retryLimit=20;
		
		angular.module('quote1',[]).controller('QuoteController', ['$scope','$http', function($scope,$http) {
			$scope.status='Loading';
			$scope.poll=function poll() {
				retry++;
				if (retry > retryLimit) return;
							
				$scope.status=$scope.status + '...';
				$http({url: "liststocksperf"}).
					success(function(data, status, headers, config) {
						$scope.hcei=data.hcei;
						$scope.quotes=data.quotes;
						$scope.status='';
					}).
					error(function(data, status, headers, config) {
						poll();
					});
			};
			$scope.poll();
		}]);		
	</script>
</body>
</html>