<html>
<head>
    <title>ID3 tag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/squote.css" th:href="@{/css/squote.css}" />
</head>
<body>
	<div>
		<form>
			Folder: <input type="text"  style="width: 300px;" name="folder" th:value="${folder}" /><br />			
			From encoding: <input type="text" style="width: 40px;" name="fromEncoding" th:value="${fromEncoding}" /> To Encoding: <input type="text"  style="width: 40px;" name="toEncoding" th:value="${toEncoding}" /><br />
			<input type="submit" name="action" value="preview" />&nbsp;<input type="submit" name="action" value="save" />
		</form>
		<hr/>
		<table th:each="tags : ${tagList}" frame="box">
			<tr th:each="tag : ${tags}">
				<td th:text="${tag.key}">key</td>
				<td th:text="${tag.value}">value</td>
			</tr>
		</table>
		<footer th:include="fragments/layout :: footer"></footer>	
	</div>
</body>
</html>
